
header
{
    flex-direction: row;
    position: relative;
}

.fa-arrow-left
{
    position:absolute;
    left:20px;
    top:50%;
    transform: translate(0, -50%);
    font-size: 1.5rem;
    margin-top:0;
}

.Logo
{
    width:150px;
    height:27px;
}


@media (min-width: 600px)
{
    .Logo
    {
        width:200px;
        height:34px;
    }
}