.ButtonHeart_Bg
{
  width:22px;
  height:20px;
}
.ButtonHeart_Bg input[type="checkbox"]
{
display: none;
}
.fa-heart
{
  width:22px;
  height:20px;
  font-size: 1.6em;
  cursor: pointer;
}   

.ButtonHeart_Bg label
{
  display: block;
  width:20px;
}

.ButtonHeart_Bg input[type="checkbox"]:checked ~ label .fa-heart:before
{
  transition: all 1s ease;
  -webkit-background-clip: text;
  font-weight: 900;
  background-image: linear-gradient(#9356DC, #FF79DA);
  -webkit-text-fill-color: transparent;
}

