

.MainContent
{
    width:100%;
    min-height:100%;
    display: flex;
}

.ImageRestoContainer
{
    width:100%;
    height:275px;
    position:absolute;
    top:68px;
    z-index: 1;
}
.ImageResto
{
    width:100%;
    height:100%;
    object-fit: cover;
}

.Menu, .MenuForm
{
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Menu
{

    border-radius: 40px 40px 0 0;
    background-color: #f6f6f6;
    margin-top:calc(276px - 68px);
    padding:13px;
    padding-top:30px;
    padding-bottom: 40px;
    z-index: 10;
    position: relative;
}


.HeaderMenu
{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.HeaderMenu .ButtonHeart_Bg
{
    margin-right: 10px;
    font-size: 1rem;
}
.MenuTitle
{
    width:100%;
    text-align: left;
    font-style: italic;
    font-weight: 400;
    font-size: 1.22rem;
    font-family: 'Shrikhand', cursive;
    padding-bottom:40px;
    padding-left:5px;
}

.MenuSection
{
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-bottom: 40px;
    opacity: 0;
    animation-name: AnimMenuSection;
    animation-duration: 0.8s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}

.Entrees
{
    animation-delay: 0.8s;
}
.Plats
{
    animation-delay: 1s;
}
.Desserts
{
    animation-delay: 1.5s;
}

.SectionTitle
{
    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: 300;
    margin-bottom: 5px;
}
.GreenBorder
{
    width:40px;
    height:3px;
    margin-left: 0px;
    margin-bottom: 20px;
    background-color:#99E2D0;
}

.RestoMenuItem, .MenuItem_SubtitleAndPrice
{
    display: flex;
    width:100%;
}
.RestoMenuItem
{
    height:78px;
    flex-direction: row;
    justify-content: start;
    background-color: #fff;
    box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    margin-bottom: 13px;
    position: relative;
}
.RestoMenuItem_Left
{
    width:98%;
    height: 100%;
    padding:18px;
    border-radius: 15px 0 0 15px;
}

.MenuItem_SubtitleAndPrice
{
    justify-content: space-between;
}

.RestoMenuItem_Title
{
    font-weight: bold;
    margin-bottom:15px;
    font-size: 0.9rem;
}
.RestoMenuItem_Title, .RestoMenuItem_Subtitle
{
    width:100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.RestoMenuItem_Subtitle, .RestoMenuItem_Price
{
    font-size: 0.8rem;
}
.RestoMenuItem_Subtitle
{
    font-weight: 300;
}
.RestoMenuItem_Price
{
    font-weight: bold;
}

.BCommander
{
    
    margin:auto;
    padding:16px 35px;
   
}

.Check
{
    width:59px;
    height:100%;
    border-radius: 0px 15px 15px 0px;
    background-color: #99E2D0;
    display: flex;
    visibility: hidden;
    align-items: center;
    justify-content: center;
    position:absolute;
    right:0;
    transition-property: visibility;
    transition-duration: 300ms;
    transition-timing-function:ease-in-out;
}

.RestoMenuItem input[type="checkbox"]
{
    display: none;
}
.RestoMenuItem label
{
    z-index: 10;
    background-color: #fff;
    transition-property: width, border-radius;
    transition-duration: 300ms;
    transition-timing-function:ease-in-out;
}

.Check .fa-circle-check
{
    color:#fff;
    font-size: 25px;
}


 .RestoMenuItem input[type="checkbox"]:checked  ~ label
{
    width:calc(100% - 59px);
}
.RestoMenuItem input[type="checkbox"]:checked  ~ .Check
{
    visibility: visible;
}


@keyframes AnimMenuSection {
    from {
        opacity:0;
        margin-left:-1000px;
    }
    to {
        opacity:1;
        margin-left:0;
    }
}


@media (min-width : 400px)
{
    .Logo
    {
        width:200px;
        height:34px;
    }
    .MenuTitle
    {
        font-size: 1.7rem;
    }
    .HeaderMenu .ButtonHeart_Bg
    {
       margin-right: 30px;
       font-size: 1.2rem;
    }
    .SectionTitle
    {
        font-size: 1.2rem;
    }
    .RestoMenuItem_Title
    {
        font-size: 1.1rem;
    }
    .RestoMenuItem_Subtitle
    {
        font-size: 0.9rem;
    }
    .RestoMenuItem_Price
    {
        font-size: 0.99rem;
    }
}

@media (min-width:600px)
{
    .Menu
    {
        width:80%;
        margin:auto;
        margin-top:calc(460px - 68px);
    }

    .HeaderMenu
    {
        width:100%;
        padding-top:20px;
        padding-bottom: 20px;
        justify-content: center;
    }
    .MenuTitle
    {
        width:fit-content;
        margin-right:10px;
    }
    .ButtonHeart_Bg
    {
        margin-left: 10px;
    }
    .MenuForm
    {
        width:90%;
    }
    .ImageRestoContainer
    {
        height:430px;
    }
    .ImageResto
    {
        object-position: center;
    }

    .BCommander
    {
        padding:16px 45px;
    }
}

@media (min-width:800px)
{
    .Menu
    {
        width:70%;
    }
}

@media (min-width:1024px)
{
    .MenuForm
    {
        width:750px;
    }
    .RestoMenuItem:hover > label
    {
        width:calc(100% - 59px);
    }
    .RestoMenuItem:hover > .Check
    {
        visibility: visible;
    }

}





