

.MainContent
{
    width:100%;
    height:fit-content;
}

.ImageResto
{
    width:100%;
    height:275px;
    position:absolute;
    top:68px;
    z-index: 1;
}

.Menu, .MenuForm
{
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Menu
{

    border-radius: 40px 40px 0 0;
    background-color: #f6f6f6;
    margin-top:calc(276px - 68px);
    padding:13px;
    padding-top:30px;
    padding-bottom: 40px;
    z-index: 10;
    position: relative;
}

.HeaderMenu
{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.HeaderMenu .fa-heart
{
    margin-right: 20px;
    font-size: 1.5rem;
}
.MenuTitle
{
    width:100%;
    text-align: left;
    font-style: italic;
    font-weight: 400;
    font-size: 28px;
    font-family: 'Shrikhand', cursive;
    padding-bottom:40px;
    padding-left:5px;
}

.MenuSection
{
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-bottom: 40px;
}
.SectionTitle
{
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 5px;
}
.GreenBorder
{
    width:40px;
    height:3px;
    margin-left: 0px;
    margin-bottom: 20px;
    background-color:#99E2D0;
}

.RestoMenuItem, .MenuItem_SubtitleAndPrice
{
    display: flex;
    width:100%;
}
.RestoMenuItem
{
    height:78px;
    flex-direction: row;
    justify-content: start;
    background-color: #fff;
    box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    margin-bottom: 13px;
    position: relative;
}
.RestoMenuItem_Left
{
    width:98%;
    height: 100%;
    padding:18px;
    border-radius: 15px 0 0 15px;


}

.MenuItem_SubtitleAndPrice
{
    justify-content: space-between;
}

.RestoMenuItem_Title
{
    font-weight: bold;
    margin-bottom:15px;
    font-size: 18px;
}
.RestoMenuItem_Title, .RestoMenuItem_Subtitle
{
    width:100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.RestoMenuItem_Subtitle, .RestoMenuItem_Price
{
    font-size: 15px;
}
.RestoMenuItem_Subtitle
{
    font-weight: 300;
}
.RestoMenuItem_Price
{
    font-weight: bold;
}

.BCommander
{
    width:60%;
    margin:auto;
    padding:15px 30px;
    color:#fff;
    border:none;
    background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
    font-size: 1.2rem;
    font-weight: 500;
}

.Check
{
    width:59px;
    height:100%;
    border-radius: 0px 15px 15px 0px;
    background-color: #99E2D0;
    display: flex;
    visibility: hidden;
    align-items: center;
    justify-content: center;
    position:absolute;
    right:0;
    z-index: 1;
    transition-property: visibility;
    transition-duration: 300ms;
    transition-timing-function:ease-in-out;
}

.RestoMenuItem input[type="checkbox"]
{
    display: none;
}
.RestoMenuItem label
{
    z-index: 10;
    background-color: #fff;
    transition-property: width, border-radius;
    transition-duration: 300ms;
    transition-timing-function:ease-in-out;
}

.Check .fa-circle-check
{
    color:#fff;
    font-size: 25px;
}


 .RestoMenuItem input[type="checkbox"]:checked  ~ label
{
    width:calc(100% - 59px)
}
.RestoMenuItem input[type="checkbox"]:checked  ~ .Check
{
    visibility: visible;
}






