

@keyframes MenuItemCheck
{
    from
    {
        margin-right:-80px;
        opacity:0;
        visibility: hidden;
    }
    to
    {
        visibility:visible;
        opacity: 1;
        margin-right: 0;
    }
}

